.button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust this value to control the height of the container */
}

.button-container button {
  margin: 0 200px; /* Adjust this value to control the spacing between buttons */
  border: 2px solid #4caf50; /* border width, style, and color */
  color: #4caf50; /* text color */
  padding: 10px 20px; /* padding width */
  border-radius: 10px; /* border radius */
  cursor: pointer; /* mouse cursor style */
}

.button:hover {
  color: white; /* text color on hover */
  background-color: #4caf50; /* background color on hover */
}
