.footprint2-container {
  position: absolute;
  left: 93rem;
  right: 0;
  margin: 0px auto;
}

.footprint2 {
  height: 60px;
  position: absolute;
  bottom: -580px;
  transform: rotateZ(40deg);
  left: 0px;
  animation: one 10s infinite;
  opacity: 0;
}

.footprint2:nth-child(2) {
  height: 60px;
  position: absolute;
  bottom: -650px;
  transform: rotateZ(60deg);
  left: 70px;
  animation: one 10s infinite;
  animation-delay: 1s;
  opacity: 0;
}

.footprint2:nth-child(3) {
  height: 60px;
  position: absolute;
  bottom: -750px;
  transform: rotateZ(80deg);
  left: 120px;
  animation: one 10s infinite;
  animation-delay: 2s;
  opacity: 0;
}

.footprint2:nth-child(4) {
  height: 60px;
  position: absolute;
  bottom: -850px;
  transform: rotateZ(90deg);
  left: 140px;
  animation: one 10s infinite;
  animation-delay: 3s;
  opacity: 0;
}

@-webkit-keyframes one {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes one {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes one {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes one {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
