.footprint3-container {
  position: absolute;
  left: 0;
  right: 100px;
  margin: 0px auto;
  height: 400px;
  width: 800px;
}

.footprint3 {
  height: 60px;
  position: absolute;
  bottom: -10px;
  transform: rotateZ(180deg);
  right: -250px;
  animation: one 10s infinite;
  opacity: 0;
}

.footprint3:nth-child(2) {
  height: 60px;
  position: absolute;
  bottom: -15px;
  transform: rotateZ(180deg);
  right: -150px;
  animation: one 10s infinite;
  animation-delay: 1s;
  opacity: 0;
}

.footprint3:nth-child(3) {
  height: 60px;
  position: absolute;
  bottom: -25px;
  transform: rotateZ(160deg);
  right: -50px;
  animation: one 10s infinite;
  animation-delay: 2s;
  opacity: 0;
}

.footprint3:nth-child(4) {
  height: 60px;
  position: absolute;
  bottom: -35px;
  transform: rotateZ(160deg);
  right: 50px;
  animation: one 10s infinite;
  animation-delay: 3s;
  opacity: 0;
}
.footprint3:nth-child(5) {
  height: 60px;
  position: absolute;
  bottom: -70px;
  transform: rotateZ(140deg);
  right: 150px;
  animation: one 10s infinite;
  animation-delay: 4s;
  opacity: 0;
}

@-webkit-keyframes one {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes one {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes one {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes one {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
