
.button-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

#menu-burger {
color:black;

font-size: 2rem;
}

.button-nav > img {
    width:100px;
    height:auto;
}

